@use './base/variables' as *;

.back_button_div {
  padding: $spc $dubspc;
  p {
    transition: all 500ms ease;
    display: inline-block;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      margin-left: $spc;
    }
  }
}
