@use './base/variables' as *;

.hero {
  width: 100%;
  aspect-ratio: 9/6;
  position: relative;
  margin: 0;
}

.content {
  padding: 0 $dubspc;
  display: flex;
  flex-direction: column;
}

.overview_heading {
  margin-top: $dubspc * 2;
}

.content_box {
  width: 60%;
  height: auto;
  max-width: 60rem;
  margin-bottom: $dubspc * 2;
  position: relative;

  &:nth-of-type(odd) {
    align-self: flex-end;
  }
  &:nth-of-type(3n + 1) {
    width: 70%;
  }
  &:nth-of-type(3n) {
    width: 50%;
  }

  h3 {
      margin-top: 0;
      display: inline-block;
      padding: $spc4;
  }
}

.image_wrap {
  width: 100%;
  aspect-ratio: 9/6;
  position: relative;
  margin: 0;
}

.intro {
  margin-bottom: $dubspc * 2;
}

.description {
  margin-bottom: $dubspc;
}

