@use './base/variables' as *;

.hero {
  width: 100%;
  aspect-ratio: 9/6;
  position: relative;
  margin: 0;
}

.content {
  padding: 0 $dubspc;
  display: flex;
  flex-direction: column;
}

.overview_heading {
  margin-top: $dubspc * 2;
}

.content_box {
  width: 60%;
  height: auto;
  max-width: 60rem;
  margin-bottom: $dubspc * 2;
  position: relative;

  &:nth-of-type(odd) {
    align-self: flex-end;
  }
  &:nth-of-type(3n + 1) {
    width: 70%;
  }
  &:nth-of-type(3n) {
    width: 50%;
  }

  h3 {
    margin-top: 0;
    display: inline-block;
    padding: $spc4;
    position: relative;
    z-index: 4;
    span {
      background-image: linear-gradient($yellow, $yellow);
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: 0% 88%;
    }
  }
}

@media screen and (max-width: 35em) {
  .content_box {
    width: 85%;
    &:nth-of-type(3n + 1) {
      width: 95%;
    }
    &:nth-of-type(3n) {
      width: 75%;
    }
  }
}

.image_wrap {
  width: 100%;
  aspect-ratio: 9/6;
  position: relative;
  margin: 0;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    background-color: transparent;
    width: 100%;
    height: calc(100% - 2rem);
    border: 2px solid $yellow;
  }
}

.intro {
  margin-bottom: $dubspc * 2;
}

.description {
  margin-bottom: $dubspc;
}
