@use './base/variables' as *;

.header {
  // position: absolute;
  width: 100%;
  padding: $spc $dubspc;
  display: flex;
  align-items: center;
  background-color: $white;
  color: $black;
  > a {
    margin-right: auto;
    margin-bottom: -$spc4;
    img.logo {
      width: 8rem;
    }
  }
  nav ul {
    display: flex;
    margin-top: -$spc4;
    li {
      margin-left: $dubspc;
      list-style: none;
      font-weight: 300;
      font-size: 1.1rem;
      a {
        padding: $spc2;
        text-decoration: none;
        transition: 500ms ease;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 35em) {
  .header {
    > a img.logo {
      width: 5rem;
    }
    nav ul li {
      font-size: 1rem;
      margin-left: 0.25rem;
      a {
        padding: 0.2rem;
      }
    }
  }
}
