@use './base/variables' as *;


.splash_wrapper {
  display: flex;
}
.photo_splash {
  background-image: url('/images/foto.jpg');
  width: 50%;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  a {
      transition: all 500ms ease;
      color: $yellow;
      text-shadow: 2px 2px 4px $black;
      &:hover {
        transform: scale(1.05);
      }
  }
}
.wood_splash {
  background-image: url('/images/hout.jpg');
  width: 50%;
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    transition: all 500ms ease;
    color: $yellow;
    text-shadow: 2px 2px 4px $black;
    &:hover {
        transform: scale(1.05);
    }
}
}
